/* ------------------------------------------
[Master Stylesheet]

Template Name: Akame - Hair Salon HTML5 Template
Template Author: Colorlib
Template Author URL: http://colorlib.com
Version: 1.0.0
Last Update: Jan 19, 2018

---------------------------------------------

[Tables of CSS Content]

+ body

    - 01.0 Reboot CSS
    - 02.0 Spacing CSS
    - 03.0 Preloader CSS
    - 04.0 Heading CSS
    - 05.0 Backtotop CSS
    - 06.0 Buttons CSS
    - 07.0 Header CSS
    - 08.0 Hero CSS
    - 09.0 Footer CSS
    - 10.0 CTA CSS
    - 11.0 Breadcrumb CSS
    - 12.0 Blog CSS
    - 13.0 Choose_us CSS
    - 14.0 Portfolio CSS
    - 15.0 Team CSS
    - 16.0 Service CSS
    - 17.0 About CSS
    - 18.0 Contact CSS

  --------------------------------------------- */
/* Import Fonts & All CSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700");
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/default-assets/audioplayer.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/style.css);
/* :: 1.0 Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  z-index: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #252525;
  line-height: 1.3;
  font-weight: 400; }

a,
a:active,
a:focus,
a:hover {
  color: #252525;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
  font-weight: 400; }

li {
  list-style: none; }

p {
  line-height: 1.7;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.65); }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #ffffff;
  right: 20px;
  text-align: center;
  padding-right: 0;
  width: 100%;
  position: fixed;
  top: 20px;
  width: 30px;
  background: #ed1b24;
  height: 30px;
  line-height: 30px; }

button.mfp-close,
button.mfp-arrow {
  background: #ed1b24; }

.mfp-bottom-bar {
  display: none !important; }

.mfp-bg {
  background-color: #000000; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f6f9f9 !important; }

textarea:focus,
input:focus {
  outline: none; }

.border {
  border-color: #e5e5e5; }

.mfp-arrow-left::after {
  border-right-color: transparent; }

.mfp-arrow-left::before {
  border-right-color: #ffffff; }

.mfp-arrow-right::after {
  border-left-color: transparent; }

.mfp-arrow-right::before {
  border-left-color: #ffffff; }

/* :: 2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

/* :: 3.0 Preloader CSS */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #f6f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #ed1b24;
  font-size: 6px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

@-webkit-keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
/* :: 4.0 Heading CSS */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 42px;
    text-transform: none;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 30px; } }
  .section-heading p {
    font-size: 16px; }
  .section-heading span {
    position: absolute;
    top: 50%;
    font-size: 100px;
    color: #ed1b24;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0.1;
    left: 0;
    font-weight: 700; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading span {
        font-size: 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading span {
        font-size: 70px; } }
    @media only screen and (max-width: 767px) {
      .section-heading span {
        font-size: 50px; } }
  .section-heading.text-right span {
    right: 48px; }

/* :: 5.0 Backtotop CSS */
#scrollUp {
  position: fixed;
  right: 40px;
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  bottom: 40px;
  background-color: #ed1b24;
  color: #ffffff;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  z-index: 15962536; }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000000;
    color: #ffffff; }

/* :: 6.0 Buttons CSS */
.btn:focus {
  box-shadow: none; }

.akame-btn {
  font-family: "Playfair Display", serif;
  position: relative;
  z-index: 1;
  min-width: 150px;
  height: 42px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 0 35px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #252525;
  border: 1px solid #252525;
  border-radius: 60px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .akame-btn:focus, .akame-btn:hover {
    border-color: #ed1b24;
    font-weight: 400;
    font-size: 14px;
    background-color: #ed1b24;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15); }
  .akame-btn.active {
    border-color: #ed1b24;
    background-color: #ed1b24;
    color: #ffffff; }
    .akame-btn.active:focus, .akame-btn.active:hover {
      border-color: #252525;
      background-color: #252525;
      color: #ffffff; }

/* :: 7.0 Header CSS */
.header-area {
  position: relative;
  z-index: 10;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #e5e5e5; }
  .header-area .top-header-area {
    position: relative;
    z-index: 1;
    background-color: #252525;
    width: 100%;
    height: 50px; }
    @media only screen and (max-width: 767px) {
      .header-area .top-header-area {
        height: auto;
        padding: 15px 0; } }
    .header-area .top-header-area .top-header-content p {
      margin-bottom: 0;
      font-size: 14px;
      color: #ffffff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .top-header-area .top-header-content p {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .header-area .top-header-area .top-header-content p {
          font-size: 10px; } }
  .header-area .cart-icon a:focus, .header-area .cart-icon a:hover {
    color: #ed1b24; }

.classy-nav-container {
  background-color: transparent;
  padding: 0; }
  .classy-nav-container .classy-navbar {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 100px;
    padding: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #252525; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px; } }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #ed1b24; }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
      font-size: 14px;
      text-transform: capitalize;
      height: 42px;
      line-height: 42px;
      padding: 0 30px;
      color: #252525; }
      .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:hover {
        color: #ed1b24; }

.classynav ul li.active a {
  position: relative;
  z-index: 1; }
  .classynav ul li.active a::before {
    width: 80%;
    height: 2px;
    background-color: #ed1b24;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 1;
    content: ''; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classynav ul li.active a::before {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .classynav ul li.active a::before {
        display: none; } }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #252525; }

.breakpoint-off .classynav ul li .dropdown,
.breakpoint-off .classynav ul li .megamenu {
  width: 210px;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  border-radius: 6px; }

.breakpoint-off .classynav ul li .megamenu {
  width: 100%; }

/* :: 8.0 Hero CSS */
.single-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 720px;
  background-color: #ffffff; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide {
      height: 600px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .single-welcome-slide {
      height: 500px; } }
  .single-welcome-slide .welcome-text {
    position: relative;
    z-index: 1; }
    .single-welcome-slide .welcome-text h2 {
      font-size: 72px;
      display: block;
      margin-bottom: 30px;
      color: #252525; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-welcome-slide .welcome-text h2 {
          font-size: 60px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-welcome-slide .welcome-text h2 {
          font-size: 60px; } }
      @media only screen and (max-width: 767px) {
        .single-welcome-slide .welcome-text h2 {
          font-size: 36px; } }
    .single-welcome-slide .welcome-text p {
      font-size: 18px;
      color: #252525;
      margin-bottom: 50px;
      display: block; }

.welcome-slides {
  position: relative;
  z-index: 1;
  overflow: hidden; }

/* :: 9.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1; }

.single-footer-widget {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-footer-widget p {
      font-size: 14px; } }
  .single-footer-widget .widget-title {
    font-size: 22px;
    color: #252525;
    margin-bottom: 30px;
    display: block;
    text-transform: capitalize; }
  .single-footer-widget .open-time p {
    margin-bottom: 8px; }
    .single-footer-widget .open-time p:last-child {
      margin-bottom: 0; }
  .single-footer-widget .social-info {
    position: relative;
    z-index: 1;
    margin-top: 30px; }
    .single-footer-widget .social-info a {
      display: inline-block;
      font-size: 18px;
      color: #ffffff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      text-align: center;
      line-height: 40px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-footer-widget .social-info a {
          margin-right: 5px; } }
      .single-footer-widget .social-info a.facebook {
        background-color: #4b62b3; }
      .single-footer-widget .social-info a.twitter {
        background-color: #03baeb; }
      .single-footer-widget .social-info a.google-plus {
        background-color: #cb242e; }
      .single-footer-widget .social-info a.instagram {
        background-color: #057ad7; }
      .single-footer-widget .social-info a:focus, .single-footer-widget .social-info a:hover {
        background-color: #ed1b24; }
  .single-footer-widget .contact-address p {
    margin-bottom: 8px; }
    .single-footer-widget .contact-address p:last-child {
      margin-bottom: 0; }
  .single-footer-widget .footer-logo {
    display: block;
    margin-bottom: 30px; }

.copywrite-text {
  position: relative;
  z-index: 1; }
  .copywrite-text p {
    font-size: 16px;
    color: #6e6e6e;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .copywrite-text p {
        font-size: 14px; } }
    .copywrite-text p a {
      color: #6e6e6e;
      font-size: 16px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .copywrite-text p a {
          font-size: 14px; } }
      .copywrite-text p a:focus, .copywrite-text p a:hover {
        color: #ed1b24; }

/* :: 10.0 CTA CSS */
.akame-cta-area {
  position: relative;
  z-index: 1; }
  .akame-cta-area .cta-content h2 {
    font-size: 48px;
    display: block;
    margin-bottom: 30px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .akame-cta-area .cta-content h2 {
        font-size: 36px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .akame-cta-area .cta-content h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .akame-cta-area .cta-content h2 {
        font-size: 30px; } }
  .akame-cta-area .cta-thumbnail {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .akame-cta-area .cta-thumbnail {
        width: 65%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .akame-cta-area .cta-thumbnail {
        width: 70%;
        opacity: 0.5; } }
    @media only screen and (max-width: 767px) {
      .akame-cta-area .cta-thumbnail {
        width: 100%;
        opacity: 0.2; } }

/* :: 11.0 Breadcrumb CSS */
.breadcrumb-content {
  position: relative;
  z-index: 1;
  text-align: center; }
  .breadcrumb-content h2 {
    font-size: 60px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .breadcrumb-content h2 {
        font-size: 48px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breadcrumb-content h2 {
        font-size: 48px; } }
    @media only screen and (max-width: 767px) {
      .breadcrumb-content h2 {
        font-size: 36px; } }
  .breadcrumb-content .breadcrumb {
    position: relative;
    padding: 0;
    background-color: transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .breadcrumb-content .breadcrumb .breadcrumb-item a:hover, .breadcrumb-content .breadcrumb .breadcrumb-item a:focus {
      color: #ed1b24; }
    .breadcrumb-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: '\f101';
      font-family: "FontAwesome"; }

/* :: 12.0 Blog CSS */
.single-post-area {
  position: relative;
  z-index: 1; }
  .single-post-area .post-thumbnail {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .single-post-area .post-thumbnail a {
      display: block; }
  .single-post-area .post-content {
    position: relative;
    z-index: 1; }
    .single-post-area .post-content .post-title {
      font-weight: 400;
      font-size: 20px;
      display: block;
      margin-bottom: 15px;
      font-family: "Playfair Display", serif; }
      .single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
        color: #ed1b24; }
    .single-post-area .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .single-post-area .post-content .post-meta a {
        position: relative;
        z-index: 1;
        font-size: 14px;
        color: #acacac;
        display: inline-block;
        margin-right: 30px; }
        .single-post-area .post-content .post-meta a:last-child {
          margin-right: 0; }
          .single-post-area .post-content .post-meta a:last-child::before {
            content: '|';
            position: absolute;
            top: 0;
            left: -20px;
            z-index: 1; }
        .single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
          color: #ed1b24; }
    .single-post-area .post-content p {
      margin-bottom: 0; }
  .single-post-area:hover .post-content .post-title, .single-post-area:focus .post-content .post-title {
    color: #ed1b24; }

.akame-blog-details-area {
  position: relative;
  z-index: 1; }
  .akame-blog-details-area .post-content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px; }
    .akame-blog-details-area .post-content .post-title {
      font-weight: 400;
      font-size: 42px;
      display: block;
      margin-bottom: 0;
      font-family: "Playfair Display", serif; }
      @media only screen and (max-width: 767px) {
        .akame-blog-details-area .post-content .post-title {
          font-size: 30px; } }
    .akame-blog-details-area .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .akame-blog-details-area .post-content .post-meta a {
        position: relative;
        z-index: 1;
        font-size: 16px;
        color: #acacac;
        display: inline-block;
        margin-right: 30px; }
        .akame-blog-details-area .post-content .post-meta a:last-child {
          margin-right: 0; }
          .akame-blog-details-area .post-content .post-meta a:last-child::before {
            content: '|';
            position: absolute;
            top: 0;
            left: -20px;
            z-index: 1; }
        @media only screen and (max-width: 767px) {
          .akame-blog-details-area .post-content .post-meta a {
            font-size: 14px; } }
        .akame-blog-details-area .post-content .post-meta a:hover, .akame-blog-details-area .post-content .post-meta a:focus {
          color: #ed1b24; }

.blog-details-text {
  position: relative;
  z-index: 1; }
  .blog-details-text p {
    font-size: 20px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .blog-details-text p {
        font-size: 16px; } }
  .blog-details-text p:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1; }
    .blog-details-text p:first-child span:first-child {
      font-weight: 700;
      margin-right: 15px;
      font-size: 100px; }
      @media only screen and (max-width: 767px) {
        .blog-details-text p:first-child span:first-child {
          font-size: 50px; } }
    .blog-details-text p:first-child span:last-child {
      line-height: 1.7; }
  .blog-details-text ul {
    position: relative;
    z-index: 1;
    padding-left: 15px; }
    .blog-details-text ul li {
      font-size: 20px;
      color: #6e6e6e;
      margin-bottom: 30px; }
      .blog-details-text ul li span {
        color: #252525; }
      .blog-details-text ul li i {
        font-size: 14px;
        margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .blog-details-text ul li {
          font-size: 16px; } }

.akame-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px;
  border-left: 5px solid #ed1b24;
  padding: 15px; }
  .akame-blockquote h4 {
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .akame-blockquote h4 {
        font-size: 20px; } }

.akame-post-share {
  position: relative;
  z-index: 1; }
  .akame-post-share a {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ed1b24;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 46px; }
    @media only screen and (max-width: 767px) {
      .akame-post-share a {
        width: 30px;
        height: 30px;
        line-height: 30px; } }
    .akame-post-share a.facebook {
      background-color: #4b62b3; }
    .akame-post-share a.twitter {
      background-color: #03baeb; }
    .akame-post-share a.google-plus {
      background-color: #cb242e; }
    .akame-post-share a.instagram {
      background-color: #057ad7; }
    .akame-post-share a:hover, .akame-post-share a:focus {
      background-color: #ed1b24; }

.post-author-area {
  position: relative;
  z-index: 1;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5; }
  .post-author-area .author-meta .author-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 30px; }
    @media only screen and (max-width: 767px) {
      .post-author-area .author-meta .author-avatar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px;
        height: 40px;
        margin-right: 5px; } }
    .post-author-area .author-meta .author-avatar img {
      border-radius: 50%; }
  .post-author-area .author-meta .author-text p {
    font-size: 14px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 767px) {
      .post-author-area .author-meta .author-text p {
        font-size: 12px; } }
  .post-author-area .author-meta .author-text h5 {
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .post-author-area .author-meta .author-text h5 {
        font-size: 14px; } }
  .post-author-area .author-social-info a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ed1b24;
    color: #ffffff;
    text-align: center;
    margin-left: 15px;
    line-height: 46px; }
    @media only screen and (max-width: 767px) {
      .post-author-area .author-social-info a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: 2px;
        font-size: 14px; } }
    .post-author-area .author-social-info a.facebook {
      background-color: #4b62b3; }
    .post-author-area .author-social-info a.twitter {
      background-color: #03baeb; }
    .post-author-area .author-social-info a.google-plus {
      background-color: #cb242e; }
    .post-author-area .author-social-info a:hover, .post-author-area .author-social-info a:focus {
      background-color: #ed1b24; }

/* :: 13.0 Choose Us CSS */
.choose-us-content {
  position: relative;
  z-index: 1; }
  .choose-us-content ul li {
    font-size: 16px;
    display: block;
    margin-bottom: 15px; }
    .choose-us-content ul li i {
      color: #ed1b24;
      padding-right: 5px; }
    .choose-us-content ul li:last-child {
      margin-bottom: 0; }

.choose-us-thumbnail {
  position: relative;
  z-index: 1;
  background-color: #ebebeb;
  border-radius: 4px;
  height: 380px; }
  @media only screen and (max-width: 767px) {
    .choose-us-thumbnail {
      height: 220px; } }
  .choose-us-thumbnail .choose-us-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    right: 30px;
    z-index: 10;
    border-radius: 4px; }
    @media only screen and (max-width: 767px) {
      .choose-us-thumbnail .choose-us-img {
        top: -15px;
        right: 15px; } }

/* :: 14.0 Portfolio CSS */
.akame-portfolio {
  position: relative;
  z-index: 1; }

.portfolio-menu .btn {
  padding: 5px 10px;
  background-color: transparent;
  font-size: 16px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  margin: 0 10px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-menu .btn {
      margin: 0 5px;
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .portfolio-menu .btn {
      margin: 0 3px;
      font-size: 13px; } }
  .portfolio-menu .btn.active {
    color: #ed1b24;
    border-bottom-color: #ed1b24; }

.akame-portfolio-single-item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px; }
  .akame-portfolio-single-item img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 3px; }
  .akame-portfolio-single-item .overlay-content {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    border-radius: 3px;
    padding: 50px 30px; }
    .akame-portfolio-single-item .overlay-content .overlay-text h4 {
      color: #ed1b24; }
      @media only screen and (max-width: 767px) {
        .akame-portfolio-single-item .overlay-content .overlay-text h4 {
          font-size: 20px; } }
    .akame-portfolio-single-item .overlay-content .overlay-text p {
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .akame-portfolio-single-item .overlay-content .overlay-text p {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .akame-portfolio-single-item .overlay-content .overlay-text p {
          font-size: 14px; } }
  .akame-portfolio-single-item .thumbnail-zoom {
    position: absolute;
    width: 40px;
    height: auto;
    margin-left: -40px;
    font-size: 20px;
    color: #ffffff;
    left: 50%;
    z-index: 100;
    bottom: 25px;
    text-align: center;
    opacity: 0;
    visibility: hidden; }
    .akame-portfolio-single-item .thumbnail-zoom:hover, .akame-portfolio-single-item .thumbnail-zoom:focus {
      color: #ed1b24; }
  .akame-portfolio-single-item:hover img, .akame-portfolio-single-item:focus img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .akame-portfolio-single-item:hover .overlay-content, .akame-portfolio-single-item:focus .overlay-content {
    opacity: 0.7;
    visibility: visible; }
  .akame-portfolio-single-item:hover .thumbnail-zoom, .akame-portfolio-single-item:focus .thumbnail-zoom {
    opacity: 1;
    visibility: visible;
    margin-left: -20px; }

/* :: 15.0 Team CSS */
.akame-our-expert-area {
  position: relative;
  z-index: 1; }
  .akame-our-expert-area::before {
    position: absolute;
    width: 100%;
    height: 70%;
    content: '';
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #f6f9f9; }
  .akame-our-expert-area .side-thumbnail {
    position: absolute;
    width: 555px;
    height: 70%;
    right: 50%;
    top: 0;
    z-index: -1;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .akame-our-expert-area .side-thumbnail {
        height: 50%;
        opacity: 0.2; } }
    @media only screen and (max-width: 767px) {
      .akame-our-expert-area .side-thumbnail {
        display: none; } }
  .akame-our-expert-area.about-us-page::before {
    height: 100%; }
  .akame-our-expert-area.about-us-page .side-thumbnail {
    height: 100%; }

.our-certificate-area {
  position: relative;
  z-index: 1; }
  .our-certificate-area img {
    margin-right: 30px;
    max-height: 45px; }
    .our-certificate-area img:last-child {
      margin-right: 0; }

.single-team-member {
  position: relative;
  z-index: 1;
  border: 1px solid #e5e5e5;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #ffffff; }
  .single-team-member .team-member-img {
    position: relative;
    z-index: 1; }
    .single-team-member .team-member-img img {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .single-team-member .team-member-img .team-social-info {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      z-index: 10;
      text-align: center; }
      .single-team-member .team-member-img .team-social-info .social-link a {
        display: inline-block;
        width: 46px;
        height: 46px;
        line-height: 46px;
        border-radius: 50%; }
        .single-team-member .team-member-img .team-social-info .social-link a:hover, .single-team-member .team-member-img .team-social-info .social-link a:focus {
          background-color: #ed1b24;
          -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
          color: #ffffff; }
  .single-team-member .team-member-info {
    padding: 20px 30px; }
    .single-team-member .team-member-info h5 {
      display: block;
      margin-bottom: 10px; }
    .single-team-member .team-member-info p {
      margin-bottom: 0;
      font-size: 14px; }
  .single-team-member:hover, .single-team-member:focus {
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15); }
    .single-team-member:hover img, .single-team-member:focus img {
      width: 100%;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
    .single-team-member:hover .team-social-info, .single-team-member:focus .team-social-info {
      opacity: 1;
      visibility: visible; }
    .single-team-member:hover .team-member-info h5, .single-team-member:focus .team-member-info h5 {
      color: #ed1b24; }

/* :: 16.0 Service CSS */
.single-service-area {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-service-area {
      padding: 30px 15px; } }
  .single-service-area img {
    display: inline-block;
    margin-bottom: 15px; }
  .single-service-area h5 {
    font-size: 22px;
    margin-bottom: 10px;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-service-area h5 {
        font-size: 18px; } }
  .single-service-area p {
    margin-bottom: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-service-area p {
        font-size: 14px; } }
  .single-service-area:hover, .single-service-area:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15); }
    .single-service-area:hover h5, .single-service-area:focus h5 {
      color: #ed1b24; }

.single--service--item {
  position: relative;
  z-index: 1; }
  .single--service--item .service-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
    @media only screen and (max-width: 767px) {
      .single--service--item .service-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
    .single--service--item .service-content .service-text {
      margin-left: auto;
      width: 555px;
      padding: 80px 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single--service--item .service-content .service-text {
          width: 455px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single--service--item .service-content .service-text {
          width: 345px; } }
      @media only screen and (max-width: 767px) {
        .single--service--item .service-content .service-text {
          width: 100%;
          padding: 80px 30px; } }
      .single--service--item .service-content .service-text h2 {
        font-size: 42px;
        display: block;
        margin-bottom: 40px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single--service--item .service-content .service-text h2 {
            font-size: 36px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single--service--item .service-content .service-text h2 {
            font-size: 30px; } }
        @media only screen and (max-width: 767px) {
          .single--service--item .service-content .service-text h2 {
            font-size: 24px; } }
      .single--service--item .service-content .service-text p {
        margin-bottom: 30px;
        display: block;
        max-width: 250px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .single--service--item .service-content .service-text p span:last-child {
          font-weight: 600;
          color: #252525; }
        .single--service--item .service-content .service-text p:last-child {
          margin-bottom: 0; }
  .single--service--item .service-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    height: 500px; }
    @media only screen and (max-width: 767px) {
      .single--service--item .service-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 300px; } }
  .single--service--item.odd-item .service-content .service-text {
    margin-left: 15%;
    width: auto; }
    @media only screen and (max-width: 767px) {
      .single--service--item.odd-item .service-content .service-text {
        margin-left: auto; } }

.akame-service-area {
  position: relative;
  z-index: 1; }
  .akame-service-area .single--service--item:first-child {
    border-top: 1px solid #e5e5e5; }
  .akame-service-area .single--service--item:last-child {
    border-bottom: 1px solid #e5e5e5; }

/* :: 17.0 About CSS */
.about-us-thumbnail {
  position: relative;
  z-index: 1; }
  .about-us-thumbnail img {
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15); }

.about-us-content {
  position: relative;
  z-index: 1; }
  .about-us-content h3 {
    display: block;
    margin-bottom: 15px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-us-content h3 {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .about-us-content h3 {
        font-size: 24px; } }

.about--us--content p {
  font-size: 20px;
  font-style: italic;
  color: #252525;
  margin-bottom: 25px; }
.about--us--content img {
  display: block;
  margin-bottom: 20px; }
.about--us--content h4 {
  margin-bottom: 0; }

.akame--video--area {
  position: relative;
  z-index: 1; }
  .akame--video--area::before {
    position: absolute;
    width: 100%;
    height: 60%;
    content: '';
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #f6f9f9; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .akame--video--area::before {
        height: 70%; } }
    @media only screen and (max-width: 767px) {
      .akame--video--area::before {
        height: 90%; } }
  .akame--video--area .video-content-area {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    border: 20px solid #ffffff;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .akame--video--area .video-content-area .video-play-btn {
      display: inline-block;
      width: 90px;
      height: 90px;
      background-color: #ed1b24;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      line-height: 90px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -45px;
      margin-left: -45px;
      z-index: 100; }
      .akame--video--area .video-content-area .video-play-btn i {
        padding-left: 5px; }
      @media only screen and (max-width: 767px) {
        .akame--video--area .video-content-area .video-play-btn {
          width: 60px;
          height: 60px;
          font-size: 24px;
          line-height: 60px;
          margin-top: -30px;
          margin-left: -30px; } }
      .akame--video--area .video-content-area .video-play-btn:hover, .akame--video--area .video-content-area .video-play-btn:focus {
        background-color: #000000; }

.single-cool-facts-area {
  position: relative;
  z-index: 1; }
  .single-cool-facts-area span {
    position: absolute;
    top: 50%;
    font-size: 48px;
    color: #ed1b24;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.15;
    left: 50%;
    font-weight: 700; }
  .single-cool-facts-area h2 {
    font-size: 60px;
    display: block;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .single-cool-facts-area h2 {
        font-size: 36px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .single-cool-facts-area h2 {
        font-size: 42px; } }
  .single-cool-facts-area p {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #6e6e6e; }

.testimonial-slides {
  position: relative;
  z-index: 1; }
  .testimonial-slides .owl-dots {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .testimonial-slides .owl-dots .owl-dot {
      width: 12px;
      height: 12px;
      border: 1px solid #ed1b24;
      margin: 0 5px;
      border-radius: 50%; }
      .testimonial-slides .owl-dots .owl-dot.active {
        background-color: #ed1b24; }

.single-testimonial-slide {
  position: relative;
  z-index: 1;
  text-align: center; }
  .single-testimonial-slide img {
    width: 35px !important;
    margin: 0 auto 50px; }
  .single-testimonial-slide p {
    color: #252525;
    font-size: 24px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .single-testimonial-slide p {
        font-size: 20px; } }
  .single-testimonial-slide .ratings-name {
    position: relative;
    z-index: 1; }
    .single-testimonial-slide .ratings-name .ratings {
      font-size: 16px;
      color: #e0cd3f; }
    .single-testimonial-slide .ratings-name h5 {
      font-size: 18px;
      margin-bottom: 0; }

.booking-info {
  position: relative;
  z-index: 1; }
  .booking-info h2 {
    font-size: 42px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .booking-info h2 {
        font-size: 36px; } }
  .booking-info h4 {
    color: #ed1b24;
    margin-bottom: 15px; }
  .booking-info p:last-child {
    margin-bottom: 0; }

.single-booking-table {
  position: relative;
  z-index: 1;
  border-left: 1px solid #e5e5e5;
  margin: 0 70px; }
  @media only screen and (max-width: 767px) {
    .single-booking-table {
      margin: 0; } }
  .single-booking-table .single-date-hours {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    width: 33.3333%; }
    .single-booking-table .single-date-hours .booking-day {
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 20px 15px;
      width: 100%;
      border-left: none; }
      .single-booking-table .single-date-hours .booking-day h5 {
        font-weight: 600;
        font-family: "Open Sans", sans-serif; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-booking-table .single-date-hours .booking-day h5 {
            font-size: 16px; } }
        @media only screen and (max-width: 767px) {
          .single-booking-table .single-date-hours .booking-day h5 {
            font-size: 14px; } }
      .single-booking-table .single-date-hours .booking-day h6 {
        margin-bottom: 0;
        font-family: "Open Sans", sans-serif; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-booking-table .single-date-hours .booking-day h6 {
            font-size: 12px; } }
        @media only screen and (max-width: 767px) {
          .single-booking-table .single-date-hours .booking-day h6 {
            font-size: 12px; } }
    .single-booking-table .single-date-hours .booking-hours {
      position: relative;
      z-index: 1;
      text-align: center; }
      .single-booking-table .single-date-hours .booking-hours span {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 20px 5px;
        font-size: 24px;
        color: #252525; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-booking-table .single-date-hours .booking-hours span {
            font-size: 20px; } }
        @media only screen and (max-width: 767px) {
          .single-booking-table .single-date-hours .booking-hours span {
            font-size: 12px; } }
        .single-booking-table .single-date-hours .booking-hours span.active {
          background-color: #f6f9f9;
          color: #acacac; }
    .single-booking-table .single-date-hours.active .booking-day {
      background-color: #ed1b24; }
      .single-booking-table .single-date-hours.active .booking-day h5,
      .single-booking-table .single-date-hours.active .booking-day h6 {
        color: #ffffff; }

.booking-table-slider {
  position: relative;
  z-index: 1; }
  .booking-table-slider .owl-prev,
  .booking-table-slider .owl-next {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #252525;
    color: #252525;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    top: 50%;
    margin-top: -20px;
    left: 20px; }
    @media only screen and (max-width: 767px) {
      .booking-table-slider .owl-prev,
      .booking-table-slider .owl-next {
        display: none; } }
    .booking-table-slider .owl-prev:hover, .booking-table-slider .owl-prev:focus,
    .booking-table-slider .owl-next:hover,
    .booking-table-slider .owl-next:focus {
      border-color: #ed1b24;
      background-color: #ed1b24;
      color: #ffffff; }
  .booking-table-slider .owl-next {
    left: auto;
    right: 20px; }
  .booking-table-slider .owl-dots {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px auto 0;
    width: 200px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 10px; }
    .booking-table-slider .owl-dots .owl-dot {
      flex-grow: 1;
      height: 10px;
      border-radius: 5px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .booking-table-slider .owl-dots .owl-dot.active {
        height: 10px;
        background-color: #ed1b24; }

/* :: 18.0 Contact Area */
.akame-contact-form {
  position: relative;
  z-index: 1;
  border: 1px solid #e5e5e5;
  padding: 30px; }
  @media only screen and (max-width: 767px) {
    .akame-contact-form {
      padding: 20px; } }
  @media only screen and (max-width: 767px) {
    .akame-contact-form h2 {
      font-size: 24px; } }
  @media only screen and (max-width: 767px) {
    .akame-contact-form h4 {
      font-size: 20px; } }
  .akame-contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 2px;
    color: #acacac;
    font-size: 14px; }
    .akame-contact-form .form-control:focus {
      box-shadow: none;
      border-color: #ed1b24; }
  .akame-contact-form textarea.form-control {
    height: 150px;
    padding: 20px; }

.akame-google-maps-area {
  position: relative;
  z-index: 1;
  height: 450px; }
  @media only screen and (max-width: 767px) {
    .akame-google-maps-area {
      height: 320px; } }
  .akame-google-maps-area iframe {
    width: 100%;
    height: 100%;
    border: none; }

.single-contact-information {
  position: relative;
  z-index: 1;
  text-align: center; }
  .single-contact-information i {
    font-size: 30px;
    margin-bottom: 15px;
    color: #ed1b24;
    display: block; }
  .single-contact-information h4 {
    display: block;
    margin-bottom: 15px; }
  .single-contact-information p {
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
.single-contact-information h4{
  margin-bottom: unset;
}
